<footer class="site-footer las-banner">
  <div class="wrapper">
      {% include footer_content.html %}

    <div style="vertical-align: bottom;">
      <a href="https://twitter.com/LinuxAppSummit" title="@LinuxAppSummit"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
      <a href="https://t.me/joinchat/Dbb0PlJjx4tPFCSu2dd7PA" title="LAS - Attendees"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg></a>
      <a href="https://fosstodon.org/@LAS@floss.social" title="@LAS@floss.social"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use></svg></a>
    </div>
  </div>


  <div class="hosts">
    <h3>2023 Media and Community Partners</h3>

    <a href="https://gnome.org"><img src="/assets/GnomeLogoVertical.png" alt="GNOME"/></a>
    <a href="https://kde.org"><img src="/assets/kde-logo-gray-transparent-source.svg" alt="KDE"/></a>
    <a href="https://www.dedica.org.mx"><img src="/assets/dedica-institutional-fundacion.svg" alt="Dedica Institutional Fundacion"/></a>

  </div>
</footer>
