---
layout: bare
title: "Linux App Summit 2024"
permalink: /
---

<img src="assets/LAS2024-WebBanner-text-with-dates.svg" style="margin: 0">

<hr/>
<div class="las-banner" style="background-color: #15161c">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) brings the global Linux community together to learn, collaborate, and help grow the Linux application ecosystem. Through talks, panels, and Q&amp;A sessions, we encourage attendees to share ideas, make connections, and join our goal of building a common app ecosystem.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>JOIN US</h2>
    <p>This year’s Linux App Summit will be a hybrid event on 4-5 October. The conference will be held in person in Monterrey, Mexico and attendees will also be able to join remotely. There is no cost to attend LAS, but registration is required. We will inform you before the event how you can watch and participate remotely.

There is no cost to attend LAS, but registration is required. To watch and participate remotely in the event you’ll need to log in to our conference platform using a password-protected link. You’ll receive this link after registering.</p>

   <button class="button" onclick="window.location.href='https://linuxappsummit.org/register'">Register</button>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>PAST EDITIONS</h2>
    <p>We Follow LAS on Twitter <a href="https://twitter.com/LinuxAppSummit">@linuxappsummit</a>. You can find videos from our previous editions in our <a href="https://www.youtube.com/channel/UCjSsbz2TDxIxBEarbDzNQ4w">YouTube channel</a>.</p>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
<!--
    <h2>2023 SPONSORS</h2>
-->
    <h2>SPONSORS</h2>
    <div class="sponsors">
        <img src="/assets/tuxedo.svg" alt="TUXEDO Computers"/>
        <img src="/assets/thunderbird.jpg" alt="Thunderbird"/>
<!--
        <img src="/assets/canonical.svg" alt="Canonical">
        <img src="/assets/oscc.png" alt="SUSE Open Source Community Citizens"/>
        <img src="/assets/redhat.png" alt="Red Hat"/>
        <img src="/assets/fedora.svg" alt="Fedora"/>
        <img src="/assets/codethink.svg" alt="Codethink"/>
        <img src="/assets/onlyoffice.png" alt="ONLYOFFICE"/>
-->
    </div>
<!--
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
-->
    <button class="button" onclick="window.location.href='/sponsor'">Sponsor LAS 2024</button>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>2024 MEDIA PARTNERS</h2>
    <div class="sponsors">
        <img src="/assets/fosslife.png" alt="FOSS Life">
        <img src="/assets/linux-magazine.png" alt="Linux Magazine">
        <img src="/assets/open-source-job-hub.png" alt="Open Source Job Hub">
    </div>
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
